In [7]:
import numpy as np
import pandas as pd

dat = pd.read_csv("data.csv", encoding="latin1", low_memory=False)
dat.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [8]:
no2_col = None
for col in dat.columns:
    if "no2" in col.lower():
        no2_col = col
        break
x = pd.to_numeric(dat[no2_col], errors="coerce").dropna().values

r = 102316096

a_r = 0.05 * (r % 7)
b_r = 0.3 * ((r % 5) + 1)

z = x + a_r * np.sin(b_r * x)
mu = np.mean(z)

In [9]:
sigma_sq = np.mean((z - mu) ** 2)
lam = 1 / (2 * sigma_sq)

In [10]:
c = np.sqrt(lam / np.pi)

In [11]:
print(mu)
print(lam)
print(c)

25.810230670014192
0.001460485271772799
0.02156123606454654